body{
	background: white;
}

img{
	width: 100%;
	max-width: 50%;
}

@media (min-width: 600px) and (max-width: 959px){
	body{
		background: red;
	}
}

@media (min-width: 960px) {
	body{
		background: blue url('http://ddd');
	}
}

@media (min-width: 1440px) {
	body{
		background: green;
	}
}